<div class="container">
	<div class="row mar-top">
		<div class="col-md-12">
			<h1>NCE Study Guide featuring current CACREP Objectives</h1>
			<p class="lead">The Dr. Arthur Study Guide has a proven record in how to narrow the study material to the essentials for the NCE.</p>
			<% @workshop = Workshop.all %>
			<p>Repeatedly users have indicated that the manual content is a must for preparation. He has a knack in writing questions that are structured in the same way as the actual test. He has had a preparation manual for the NCE since 1986. He remains current and edits frequently so that those who purchase his manual have the newest material. He has taught in a CACREP program since 1987 and is familiar with the objectives. His questions reflect those objectives. Preparers come from all over the United States to prepare in his workshops (<%= @workshop.total %> since 1986). Unlike other manuals he is the single writer who has taught all the course content.</p>
		</div>
	</div>
	<div class="row">
		<hr />
		<div class="col-md-6">
			<h1>NCE Study Program</h1>
			<p>This study program will help you assess your weaknesses and strengthen what you know. Included are more than 600 questions with detailed answers that give insight into the style and format of the NCE’s questions. Comprehensive and user friendly, this is the study guide that has been instrumental in helping hundreds of counselors pass the NCE.</p>
		</div>
		<div class="col-md-6">
			<h1>NCMHCE Study Program</h1>
			<p>Since 2000, counselors have used the Arthur-Brende Study Program for the NCMHCE to prepare and pass their state licensure exam.</p>
			<br />
			<a href="http://counselorExams.com" target="blank" class="btn btn-info btn-sm"><strong>Find out more at CounselorExams.com</strong>…</a>
		</div>
	</div>
</div>