<div class="container">
	<div class="row mar-top">
		<div class="col-md-6">
			<h1><span style="font-weight: 800;">NCE</span> Workshop Description</h1>
			<p>The National Counselor’s Examination Workshop covers 9-study units over 2-day span of time. The workshop covers one-two hour periods for each unit representing most of the questions and less time on units for fewer items on the NCE.</p>
			<p>NCE make-up and how to prepare for the questions, items per unit, previous pass scores, and types of questions examinees find confusing and/or difficult.</p>
			<ul>
				<li>Professional Orientation and Ethics</li>
				<li>Appraisal</li>
				<li>Research and Program Evaluation</li>
				<li>Career and Lifestyle</li>
				<li>Social Foundations</li>
				<li>Group work (process and dynamics)</li>
				<li>Helping Relationships</li>
				<li>Human Growth and Development</li>
			</ul>
			<p>For each unit highlighted will be:</p>
			<ul>
				<li>Concepts in question format based on CACREP objectives</li>
				<li>Example of concepts questions illustrating depth of question</li>
				<li>Practical application questions: examples and teaching in how to solve</li>
				<li>Expected taxonomy level of difficulty for the 200 items</li>
				<li>Strategies for maximizing your strengths</li>
			</ul>
			<br />
		</div>
		<div class="col-md-6">
			<h1><span style="font-weight: 800;">NCMHCE</span> Workshop Description</h1>
			<p>The four hour workshop format will be an overview of the standard six and branching questions for the NCMHCE. The standard six questions are the interview (symptom driven, predispositions for disorders, and appropriate skills), utilizing appropriate professionals to gather symptoms (consultation), tentative diagnosis, treatment (techniques and strategies), monitoring, and discharge (referrals for case closure). Branching questions will focus on instruments, treatment techniques, managed care, and records.</p>
			<p>The workshop will conclude with strategies in taking the examination and four practice scenarios.</p>
		</div>
	</div>
</div>


